/*

font-family: 'Lato', sans-serif
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Lobster Two', cursive;

Design and Developed in a Mobile First approach, then Tablet and Desktop 

*/

/* DEFAULT CSS FOR MOBILE DESIGN LAYOUT */

@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
    
}


html {
    font-size: 16px;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 1em; 
    
}

.container{
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
	max-width: 1200px;
    width: 90%;
    
}

h1, h2, h3, h4 {
	color: #4d4d4d;
	text-transform: uppercase;

}

h1 {
	font-size: 1.875em;
    
}

h2 {
    font-size: 1.5em;
    
}

h3 {
	font-size: 1.125em;
    
}

h4 {
	font-size: 0.75em;
    
}

p {
    color: #4d4d4d;
	font-size: 0.875em;
	line-height: 1.3125em;
    
}

ul{
    margin: 0;
    
}

/*The widths are in a percentage!*/
header {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-bottom: 3px solid #658f56;
    text-align: center; 
    width: 100%;
    
}

header h1 {
    border-bottom: 3px solid #77a466;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 2em;
	margin: 0;
	padding: 38px 20px 20px 0;
    width: 100%; 
    
}
header h1 span {
	color: #77a466;
    
}

header nav {
	padding: 20px 0;
    width: 100%; 

    
}
header nav ul {
	margin: 0;
	padding: 0;
    
}
header nav ul li {
	text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 0.9em;
    letter-spacing: 0.1em;
    list-style: none;
    text-align: center;
	padding: 10px 0;
    
}
header nav ul li a{
	text-decoration: none;
	color: #658f56;
}

header nav ul li a:hover{
    color: #b8cfaf;
    
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
    
}

.main-title h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
	text-align: left;
	padding: 5px 0;
	color: #658f56;
    
}
.main-title p {
    color: #737373;
	padding: 0;
	font-size: 1em;
	line-height: 25px;
    
}

.section-one,
.section-two,
.section-three {
    width: 100%;
	border-top: 1px solid #d9d9d9;
    
}

.section-one li:hover{
    color: #b8cfaf;
    
}

.section-one h4,
.section-two h4,
.section-three h4 {
    font-weight: bolder; 
    font-size: 1.05em;
    letter-spacing: 0.05em;
    
}

.section-two p,
.section-three p {
	color: #737373; 
    
}

.section-three{
    display: flex;
    justify-content: space-between; 
    width: 100%; 
    
}

.contact-div{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    
}

.mapiframe{
    display: flex;
    padding: 15px 0 10px 0;
    
}

.menu {
	list-style: none;
	padding: 0;
    font-weight: 500;
    
}
.menu li {
	padding: 8px 0;
	color: #658f56;
    
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.3125;
    
}

.address {
	font-size: 1em;
	line-height: 1.5;
    
}

/*The widths are in a percentage!*/
footer {
    align-items: center;
    border-top: 3px solid #d9d9d9;
    display: flex;
    flex-flow: row wrap;
    font-weight: bolder;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    justify-content: center;
	text-align: center;
    width: 100%;
    
}

footer span {
	font-family: 'Lobster Two', cursive;
    font-weight: bolder;
	text-transform: lowercase;
	color: #77a466;
	font-size: 1.2em;
    letter-spacing: 0.05em;
    
}


/* CSS MEDIA QUERIES FOR TABLET & DESKTOP */

@media all and (min-width: 768px) {
    /* Tablet styles here */
    
    .bottom-section {
    align-items: flex-start;
    border-top: 1px solid #d9d9d9;
    justify-content: space-between;
    

    }
    
    header nav ul {
	line-height: 1.5;
    
    }  
    
    .section-one,
    .section-two{
    border-top: none;
    flex-basis: 25%; 

    }
    
    .section-two{
    border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
    padding: 0 15px 0 15px;
        
    }
    
    .section-three {
    border-top: none;
    flex-basis: 35%; 

    }

    
}

@media all and (min-width: 1200px) {
    /* Desktop styles here */
    
    header{
        justify-content: space-between;
        
    }
    
    header h1{
        width: 40%;
        padding 0;
        border-bottom: none;
        text-align: left;
        
    }
    
    header nav{
        width: 40%; 
        
    }
    
    header nav {
	padding: 2.5vh 0 0 0;

    }
    
    header nav ul {
        display: flex;
        justify-content: space-between; 
    }

}
    
}
